/* @import "style.css" */
/* reset */
h5 {
    margin: 0;
}

:root {
    font-size: 62.5%;
    padding: 1rem;
}


a[href^="http"] {
    color: #057BFF;
}

h5[class^="card-title"] {
    font-weight: bolder;
}



/* col-のpaddingを打ち消し > no-gutters で可能 */
/* div[class^="col-"] {
    padding: 0;
} */

/* タイトル */

.title-main {
    padding: 0.2rem 0 0 0;
}

.title-main>h5 {
    font-size: 2.3rem;
}

.title-sub {
    padding: 0 0 0.1rem 0;
}

.fo-heebo {
    font-family: 'Heebo', sans-serif;

}

.title-sub>h1 {
    font-size: 4.5rem;
}

/* このページについて */

.desc {
    height: 2.5rem;
}

/* グロナビ ぽいやつ*/

.g-nav {
    height: 5rem;
    /* margin: 1.5rem 0; */
}

.g-nav-list {
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 0;
}

.g-nav-list li {
    padding: 0 .5rem;
}

.my-gray {
    color: gray;
}

.my-black {
    color: #000;
}

.testdirectory {
    margin: 3rem 0 0 0;
    height: 5rem;
}

.iconsize {
    width: 3rem;
    height: auto;
}

/* .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
} */

. .cards {
    margin: 3rem 0 0 0;
    /* height: 60rem; */
}

.card-sizing {
    /* これはレイアウトサイズによってレスポンシブに画像サイズが変更される */
    /* width: 28.4rem; */
}

/* カードのジャケットアニメーション */
.card {
    overflow: hidden;

}

.jacket-img {
    display: block;
    transition: .3s;
}

.jacket-img:hover {
    transform: scale(3);
    transition-duration: .3s;
    /* cursor: pointer; */

}

/* カードのジャケットアニメーションここまで */